*{
    margin: 0%;
}
body{
    background-color: rgb(255, 255, 255);
}
.barra-uno-cero{
    background-color: white;
    border: white solid;
    border-radius: 30px;
    width: 250px;
    display: block;
    margin-left: auto;
    padding: 10px;
    margin-top: auto;
    text-decoration: none;
}
.barra-uno{
    background-color: white;
    border: white solid;
    border-radius: 30px;
    width: 350px;
    display: block;
    margin-left: auto;
    padding: 10px;
    margin-top: auto;
    text-decoration: none;
}
.barra-dos{
    background-color: white;
    border: white solid;
    border-radius: 30px;
    width: 400px;
    display: block;
    margin-left: auto;
    padding: 10px;
    margin-top: auto;
    text-decoration: none;
}
.imgs-imgs{
    height: 50px;
    display:inline-block;
    background-color: rgb(255, 255, 255);
}
.img-1{
    margin-left: 18px;
}
.barra-uno a, .barra-dos a{
    background-color: white;
    text-decoration: none;
}
.img-inter-{
    height: 50px;
    background-color: white;
    display: inline-block;
    border-color: none;
}
span{
    color: rgb(46, 49, 182);
    font-style: italic;
}
hr{
    display: block;
    margin-left: 150px;
}
.contener-general{
    width: 800px;
    margin-top: 60px;
    margin-left: 50px;
}
.contener-general-enter{
    float: right;
    width: 150px;
    margin-bottom: 20px;
}
.contener-final{
    float:right;
    width: 150px;
    display: block;
}
article{
    margin-top: 25px;
    margin-top: 25px;
}
article li{
    margin-top: 11px;
}
nav{
    background-color: rgb(40, 3, 250);
    padding: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
}
h3{
    text-align: center;
    margin-left: 19px;
}
.divh3{
    background-color: white;
    font-size: 40px;
    text-align: center;
    border: white solid;
    border-radius: 30px;
    width: 250px;
    display: block;
    margin-right: auto;
    padding: 10px;
    text-decoration: none;
    display: flex;
}
.barra-general-g{
    float:unset;
    display: flex;
}
footer{
    width: 100%;
    height: 10pc;
    background-color: rgb(37, 96, 124);
    margin-top: 50px;
}
.link-index{
    color: rgb(23, 2, 24);
    font-style: normal;
}