*{
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 0%;
}
h1{
    display: block;
    margin: 25px auto;
    padding: 20px;
    text-align: center;
    font-size: 50px;
    width: 950px;
    color: #a00;
}




