/* ESTILO DE IMG DE INDICE-CONTENIDO */
.indice img{
    width: 150px;
    float: inline-end;
    float: right;
    top: 0;
    padding: 5px;
}
/* ESTILO DE IMG CONTENIDOS */
article img{
    height: 250px;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
 .contenido-final-black .estructura div{
    display: flex;
    flex-flow: row wrap;
    justify-content:space-around
} 
article iframe{
    border: wheat solid;
    border-radius: 15px;
    display: flex;
    margin: 0 auto;
    height: 400px;
    width: 710px;
}
.comando table, .comando  td, .comando th{
    background-color: rgb(210, 243, 243);
    border: rgb(22, 2, 44) solid;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.navegadores table, .navegadores td, .navegadores th{
    background-color: rgb(6, 77, 77);
    border: rgb(225, 255, 252) solid;
    text-align: center;
    width: 750px;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 10px;
}
.tabla-navegadores img{
    height: 80px;
    align-items: center;
}
#comment{
    background-color: azure;
    border-radius: 10px;
    width: 850px;
    margin-top: 10px;
}
